<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1">
        <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
          My Notification
        </h6>
      </div>
    </div>
  </div>
  <div class="p-4 flex-auto;display: inline;column-span: 3;">
    <!-- Chart -->
    <div style="height: 40px;width: 100%; display: inline-flex;" >
      <div style="width:80%;border-inline-color:black;border-color: black;">Burnout Leave Notification Requests</div>
      <div style="width: 20%;"> 6 </div>
    </div>
    <div style="height: 40px;width: 100%;display: inline-flex;">
        <div style="width:80%"> Timekeeping </div>
        <div style="width: 20%;"> 0 </div>
      </div>
      <div style="height: 40px;width: 100%;display: inline-flex;">
        <div style="width:80%"> Notices </div>
        <div style="width: 20%;"> 6 </div>
      </div>
  </div>
</div>

